@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
.dt-reload-on {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:             rotate;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;
}
#dt-scan-and-reload .dt-icon {
    background: url(css/images/glyphicons-halflings-white.png) no-repeat;
    background-position: -216px -24px;
}
#dt-live-reload .dt-icon {
    background: url(css/images/glyphicons-halflings-white.png) no-repeat;
    background-position: -240px -24px;
}